<%= link_to 'Add new todo', new_todo_path %>
<ul class="todos">
  <% @todos.each do |todo| %>
    <li class="<%= 'completed' if todo.completed? %>">
      <%= todo.title %>
      <%= button_to 'mark complete',todo_completion_path(todo) %>
      <%= button_to "mark incomplete", todo_completion_path(todo) %>
    </li>
  <% end %>
</ul>